@import "tailwindcss";

@theme {
  --color-main: #009e60;
  --color-secondary: #00d07e;
  --color-main-dark: #004526;
  --color-main-gradient: #cfffec;
  --color-secondary-gradient: #d7ffef;
  --color-grey: #d3d3d3;
  --color-grey-two: #d9d9d9;
  --color-secondary-grey: #f3f3f3;
  --font-poppins: Poppins, sans-serif;
}
